(compression_config) {
  gzip
}

(base_config) {
  header / {
    Content-Security-Policy "
      base-uri 'self';
      connect-src 'self' commento.msfjarvis.dev;
      default-src 'self';
      frame-ancestors 'none';
      frame-src asciinema.org github.com platform.twitter.com;
      font-src 'self' data: commento.msfjarvis.dev;
      img-src 'self' data: gfycat.com imgur.com *.imgur.com commento.msfjarvis.dev syndication.twitter.com;
      object-src 'none';
      script-src 'self' asciinema.org commento.msfjarvis.dev platform.twitter.com unpkg.com;
      style-src 'self' commento.msfjarvis.dev 'unsafe-inline';
    "
    # Security related changes stolen from https://github.com/searx/searx-docker/blob/master/Caddyfile
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Feature-Policy "accelerometer 'none'; autoplay 'none';camera 'none';encrypted-media 'none'; geolocation 'none';gyroscope 'none';magnetometer 'none';microphone 'none';midi 'none';payment 'none';picture-in-picture 'none';sync-xhr 'none';usb 'none'"
    Referrer-Policy "no-referrer"
  }
}

(proxy_config) {
  try_duration 5s
  transparent
}

:2015 {
  tls off
  import base_config
  import compression_config
  proxy / http://localhost:1313 {
    import proxy_config
  }
}

:2016 {
  tls off
  import base_config
  import compression_config
  root public
}
