@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?ytqq37');
  src: url('fonts/icomoon.eot?ytqq37#iefix') format("embedded-opentype"), url('fonts/icomoon.ttf?ytqq37') format("truetype"), url('fonts/icomoon.woff?ytqq37') format("woff"), url('fonts/icomoon.svg?ytqq37#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-size: 2em;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.icon-dev:before {
  content: "\e902";
}

.icon-keybase:before {
  content: "\e901";
}

.icon-key:before {
  content: "\e900";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-github:before {
  content: "\f09b";
}
