{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  {{ partialCached "sidebar.html" . }}
    <main class="content container">
    <label class="switch">
      <input type="checkbox">
      <div>
        <span></span>
      </div>
    </label>
    {{ block "main" . -}}{{- end }}
    </main>
  </body>
  <script>
  function switchTheme(e) {
    if (e.target.checked) {
      document.documentElement.setAttribute("data-theme", "dark");
      localStorage.setItem("theme", "dark");
    } else {
      document.documentElement.setAttribute("data-theme", "light");
      localStorage.setItem("theme", "light");
    }
  }

  const toggleSwitch = document.querySelector(
    '.switch input[type="checkbox"]'
  );

  if (currentTheme) {
    document.documentElement.setAttribute("data-theme", currentTheme);

    if (currentTheme === "dark") {
      toggleSwitch.checked = true;
    }
  }

  toggleSwitch.addEventListener("change", switchTheme, false);
</script>
</html>
