{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <p class="post-date">
    <span><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "January 2, 2006" }}</time> | ~{{ .ReadingTime }} min read </span>
    {{- with .Params.devLink -}}
      | Also available on <a class="link" href="{{ . }}">dev.to</a>
    {{- end -}}
  </p>
  <div class="tag-container">
  Tags:
    {{ range .Params.tags }}
    <a class="tag" href="{{ "tags/" | absLangURL }}{{ . | urlize }}" target="_blank">#{{.}}</a>
    {{ end }}
  </div>
  {{ partialCached "carbon.html" . }}
  {{- with .Content -}}
    {{ . | replaceRE "(<h[1-2] id=\"([^\"]+)\".+)(</h[1-9]+>)" `<a href="#${2}" class="heading-anchor" ariaLabel="Anchor"> ${1}</a> ${3}` | safeHTML }}
  {{- end -}}
</div>

{{ if and .Site.Params.CommentoURL (and (not .Site.BuildDrafts) (not .Site.IsServer)) -}}
<h2>Comments</h2>
{{ partialCached "commento.html" . }}
{{- end }}
{{- end }}
