# yaml-language-server: $schema=https://unpkg.com/@sveltia/cms/schema/sveltia-cms.json
backend:
  name: github
  repo: msfjarvis/msfjarvis.dev
  skip_ci: true
media_folder: "content/posts/{{slug}}/"
public_folder: "/posts/{{slug}}"
collections:
  - name: "blog"
    label: "Blog"
    folder: "content/posts"
    path: "{{slug}}/index"
    create: true
    slug: "{{slug}}"
    editor:
      preview: false
    format: toml-frontmatter
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - {
          default: "{{now}}",
          format: "YYYY-MM-DDTHH:mm:ssZ",
          label: "Publish Date",
          name: "date",
          picker_utc: false,
          widget: "datetime",
        }

      - {
          default: "{{now}}",
          format: "YYYY-MM-DDTHH:mm:ssZ",
          label: "Last modification Date",
          name: "lastmod",
          picker_utc: false,
          widget: "datetime",
        }

      - { label: "Description", name: "summary", widget: "string" }
      - { label: "Categories", name: "categories", widget: "list" }
      - { label: "Tags", name: "tags", widget: "list" }
      - { label: "Draft", name: "draft", required: false, widget: "boolean" }
      - { label: "Body", name: "body", widget: "markdown" }
  - name: "pages"
    label: "Pages"
    folder: "content"
    path: "{{slug}}/index"
    create: true
    slug: "{{slug}}"
    editor:
      preview: false
    format: toml-frontmatter
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { default: "page", label: "Type", name: "type", widget: "string" }
      - {
          default: false,
          label: "Show reading time",
          name: "showreadingtime",
          widget: "boolean",
        }

      - {
          default: false,
          label: "Show table of contents",
          name: "showtoc",
          widget: "boolean",
        }

      - {
          default: "{{now}}",
          format: "YYYY-MM-DDTHH:mm:ssZ",
          label: "Last modification Date",
          name: "lastmod",
          picker_utc: false,
          widget: "datetime",
        }

      - { label: "Body", name: "body", widget: "markdown" }
  - name: "notes"
    label: "Notes"
    folder: "content/notes"
    path: "{{slug}}"
    create: true
    slug: "{{slug}}"
    editor:
      preview: true
    format: toml-frontmatter
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - {
          default: "{{now}}",
          format: "YYYY-MM-DDTHH:mm:ssZ",
          label: "Publish Date",
          name: "date",
          picker_utc: false,
          widget: "datetime",
        }

      - {
          default: "{{now}}",
          format: "YYYY-MM-DDTHH:mm:ssZ",
          label: "Last modification Date",
          name: "lastmod",
          picker_utc: false,
          widget: "datetime",
        }

      - { label: "Description", name: "summary", widget: "string" }
      - { label: "Tags", name: "tags", widget: "list" }
      - { label: "Draft", name: "draft", required: false, widget: "boolean" }
      - { label: "Body", name: "body", widget: "markdown" }
media_libraries:
  default:
    config:
      transformations:
        raster_image:
          format: webp
          quality: 85
        svg:
          optimize: true
  stock_assets:
    providers: []
