{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <p class="post-date"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "January 2, 2006" }}</time> | ~{{ .ReadingTime }} min read |
  {{ range .Params.tags }}
    <span class="tag"><a class="tag" href="{{ "tags/" | absLangURL }}{{ . | urlize }}">#{{.}}</a> </span>
  {{ end }}
  </p>
  {{ .Content }}
</div>

{{ $syntax := resources.Get "css/syntax.css" | resources.ExecuteAsTemplate "syntax.css" . | minify | fingersyntax }}
<link rel="stylesheet" href="{{ $syntax.RelPermalink }}" {{ printf "integrity=%q" $syntax.Data.Integrity | safeHTMLAttr }}>
{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}
