<link rel="apple-touch-icon" sizes="180x180" href="{{"apple-touch-icon.webp" | relURL}}">
<link rel="icon" type="image/webp" sizes="32x32" href="{{"favicon-32x32.webp" | relURL}}">
<link rel="icon" type="image/webp" sizes="16x16" href="{{"favicon-16x16.webp" | relURL}}">
{{ if not .Site.IsServer }}
<link rel="manifest" href="{{"site.webmanifest" | relURL}}">
{{ end }}
<link rel="mask-icon" href="{{"safari-pinned-tab.svg" | relURL}}" color="#252627">
<link rel="shortcut icon" href="{{"favicon.ico" | relURL}}">
<meta name="theme-color" content="#252627">