<div class="h-card" style="display: none;">
  <a class="u-url" href="https://msfjarvis.dev/"></a>
  <figure>
      <img class="nolink u-photo u-logo" src="/images/harsh-shandilya.webp">
      <figcaption>Harsh Shandilya's profile picture</figcaption>
  </figure>
<p>I am <span class="p-name">Harsh Shandilya</span>. <span class="p-note">I’m a <span class="p-job-title">Systems Engineer</span> currently living in <span class="p-locality">Bangalore</span>, <span class="p-country-name">India</span>. I currently work at <span class="p-org"><a href="https://cloudflare.com" target="_blank" rel="noopener">Cloudflare</a></span>.</span></p>
  <a class="u-email" href="mailto:me@msfjarvis.dev"></a>
  <div class="p-adr h-adr">
    <span class="p-country-name">India</span>
  </div>
  <a class="u-url" href="https://androiddev.social/@msfjarvis" rel="me"></a>
  <a class="u-uid" href="https://msfjarvis.dev"></a>
</div>
<link rel="me" href="https://androiddev.social/@msfjarvis">
<link rel="me" href="https://mstdn.games/@msfjarvis">
<meta name="fediverse:creator" content="@msfjarvis@androiddev.social" />
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>
{{ partial "opengraph.html" . }}

{{- /* Load PageFind on all pages for modal search */ -}}
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
