<footer class="footer" style="padding-top: 0%;font-size: 24px">
    <a href="https://xn--sr8hvo.ws/previous">←</a>
    An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
    <a href="https://xn--sr8hvo.ws/next">→</a>
</footer>
<script defer src="https://stats01.msfjarvis.dev/script.js" data-website-id="8cec1982-7db5-4719-9b61-018401a7590d"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
