<script data-skip-dnt="true" nonce="NFXHG2LHNB2HGLTNONTGUYLSOZUXGLTEMV3AU===" async defer src="https://insights.msfjarvis.dev/latest.js"></script>
<noscript><img src="https://insights.msfjarvis.dev/noscript.gif" alt=""/></noscript>
<script nonce="ONQV6ZLWMVXHIX3IMVQWIZLSL5RWY2LDNMFA====">
	window.sa_event=window.sa_event||function(){a=[].slice.call(arguments);sa_event.q?sa_event.q.push(a):sa_event.q=[a]};
	function item_click(name) {
		sa_event("header_click_" + name);
	}
	{{- range $index, $key := .Site.Params.Social -}}
		document.getElementById("{{ $key.icon }}-header").addEventListener('click', item_click("{{ $key.icon }}"));
	{{- end -}}
</script>
