---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import type { AlternateFeed } from '../consts';

interface Props {
  title?: string;
  description?: string;
  alternateFeeds?: AlternateFeed[];
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  alternateFeeds,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} alternateFeeds={alternateFeeds} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
