name: Build website
on:
  push:
    branches:
      - renovate/**
jobs:
  deploy-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup Latest Version of Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3
        with:
          hugo-version: '0.152.2'
          extended: true
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: 'go.mod'
      - name: Build
        shell: bash
        run: |
          hugo --minify --gc
